.hero{
    background-size: cover;
    min-height: 60vh;
    position: relative;
}

.icon{
    width: auto;
    height: 70px;
}


.bgimg {
    position: relative;
    width: 100%;
    
}

.bgimg::before {
    content: "";
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.top {
    position: relative;
}



@media (min-width: 767px){
    .bgimg{
        background-image: none;
        background-color: #FFFFFF;
        width: 100% ;
        opacity: 1;
    }
    .bgimg::before {
        content: "";
        background-image: none;
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.6;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}


